body {
  padding: 30px 70px;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  letter-spacing: 0.03em;
  width: 80%;
  padding-top: 70px;
}
.App {
  /* text-align: center; */
}
.App-link {
  color: #61dafb;
}
.navLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.icon {
  width: 30px;
}
.logo {
  width: 170px;
  margin-left: 15px;
}
.mainDiv {
  display: flex;
  justify-content: space-between;
}
.authButton {
  color: white;
  background-color: #6074D2;
  border-radius: 5px;
  border: none;
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
.logoutButton {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: medium;
}
.mainPageImage {
  width: 50%;
  position: relative;
}
.mainPageStudent {
  width: 600px;
}
.descipline {
  position: absolute;
}
.biology {
  left: 400px;
  top: 50px;
}
.geography {
  left: 400px;
  top: 200px;
}
.history {
  left: 300px;
  top: 280px;
}
.math {
  left: 110px;
  top: -30px;
}
.physics {
  left: 0px;
  top: 120px;
}
.social {
  left: -50px;
  top: 260px;
}
.loginForm form {
  display: flex;
  flex-direction: column;
}
.loginForm input {
  padding: 5px;
  margin-bottom: 10px;
}