body {
  padding: 30px 70px;
  font-family: 'Montserrat';
}
h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  letter-spacing: 0.03em;
  width: 80%;
  padding-top: 50px;
  margin-bottom: 10px;
}
.App-link {
  color: #61dafb;
}
.navLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.icon {
  width: 30px;
}
.logo {
  width: 170px;
  margin-left: 15px;
}
.mainDiv {
  display: flex;
  justify-content: space-between;
}
.authButton {
  color: white;
  background-color: #6074D2;
  border-radius: 5px;
  border: none;
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
.logoutButton {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: medium;
}
.mainPageImage {
  width: 50%;
  position: relative;
}
.mainPageStudent {
  width: 600px;
}
.descipline {
  position: absolute;
}
.biology {
  left: 400px;
  top: 50px;
}
.geography {
  left: 400px;
  top: 200px;
}
.history {
  left: 300px;
  top: 280px;
}
.math {
  left: 110px;
  top: -30px;
}
.physics {
  left: 0px;
  top: 120px;
}
.social {
  left: -50px;
  top: 260px;
}
.loginForm {
  margin-top: 80px;
}
.loginForm form {
  display: flex;
  flex-direction: column;
}
.loginForm p {
  display: inline;
  margin: 0 20px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #797979;
}
.loginForm label{
  font-size: 14px;
  margin-bottom: 5px;
} 
.loginForm input {
  padding: 5px;
  margin-bottom: 10px;
  width: 300px;
  height: 25px;
  border: 1px solid #D4DBE2;
  border-radius: 4px;
}
.loginForm button {
  width: 150px;
  margin: 25px 0;
}
.allUsers {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.allUsersTable {
  border-collapse: collapse;
  width: 40%;
}
.allUsersTable th, td {
  border: 1px solid #D3D3D3;
  padding: 5px;
}
.profileImage {
  width: 170px;
}
.homePage h4{
  font-style: italic;
  font-weight: 800;
  font-size: 28px;
  line-height: 39px;
  letter-spacing: 0.03em;
  color: #A8A8A8;
  margin-top: 0px;
}
.signupDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
	height: 500px;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #696969;
  margin: 0 auto;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.signupDiv h2 {
  color: white;
}
.signupDivForm {
  display: flex;
  flex-direction: column;
}
.signupDivForm input {
  width: 70%;
	height: 20px;
	justify-content: center;
	display: flex;
	margin: 7px auto;
	padding: 7px;
	border: none;
	outline: none;
	border-radius: 5px;
  color: 	#696969;
}
.signupDivForm select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 76%;
  height: 34px;
  border-radius: 5px;
  color: 	#696969;
  margin: 0 auto;
  padding-left: 10px;
}
.profileDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileDiv img, p, h3 {
  margin: 5px;
}
.allUsers h2 {
  margin: 0;
}
.searchSection {
  margin: 20px;
}
.searchSection input {
  padding: 5px;
  border-radius: 5px; 
  border: 1px solid #696969;
}
.allUsersTable {
  width: 40%;
}
.allUsersButton {
  margin-top: 20px;
}
.deleteButton {
  background-color: white;
  border: 1px solid #6074D2;
  border-radius: 5px;
}